@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */
 .input-default:focus {
  @apply border-[#28A745] ;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: 200;
}

html,
body {
  max-width: 1440px;
  margin: 0 auto;
  overflow-x: hidden;

  /* margin: 0; */
  /* padding: 0; */
  /* display: flex;               */
  /* justify-content: center;    */
  /* align-items: center;        */
  /* min-width: 100vh;   */
}
a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
button,
input,
textarea {
  font-family: inherit;
  
}

/* @media (max-width: 600px) {
  .container {
    margin: 0 31px;
    display: flex;
  }
} */
/* @layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
