.footer {
  display: flex;
  justify-content: space-between;
  height: 290px;
  border-top: 1px solid #00000033;
  margin: 0 126px;
}

.leftfooter {
  margin-top: 20px;
  padding: 10px 0;
  align-items: start;
  text-align: left;
}
.footerlogo {
  text-align: left;
}
.leftfooter p {
  padding-top: 30px;
  font-size: 15px;
  color: #000000;
  font-family: Vazir FD-WOL;
}

.icon {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  gap: 25px;
}

.rightfooter {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  text-align: right;
}
.rightfooter h3 {
  font-family: Yekan Bakh;
  font-size: 24px;
  font-weight: 600;
  color: #282828;
}
.rightfooter li {
  margin-top: 20px;

}

.rightside li {
  text-align: right;
  font-family: Yekan Bakh;
  font-size: 18px;
  font-weight: 400;
  color: #282828;
}
.leftside {
  margin-right: 100px;
}
.copyright {
  box-shadow: 0px 1px 4px 0px #00000029;
  height: 74px;
  text-align: center;
  padding-top: 20px;
  font-family: Yekan Bakh;
  font-size: 16px;
  font-weight: 400;
  color: #00000080;
}
