.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  text-align: center;
  margin: 0 126px;
}
.signup span {
  display: flex;
  align-items: center;
  border: 2px solid #28a745;
  border-radius: 8px;
  padding: 8px;
  color: #28a745;
  font-family: Vazir FD-WOL;
  font-size: 18px;
  font-weight: 500;
}
.logoandlist {
  display: flex;
}
.logoandlist ul {
  display: flex;
  margin-top: 10px;
  margin-right: 30px;
  justify-content: space-between;
}

.logoandlist li {
  padding: 0 25px;
  font-size: 18px;
  color: #282828;
  cursor: pointer;
  font-family: Yekan Bakh;
  font-size: 16px;
  font-weight: 400;
}

.logoandlist img {
  width: 146px;
}
