.container {
  display: flex;
  justify-content: center;
  height: 251px;
  border-radius: 10px;
  border: 1px solid #00000040;
  margin: 109px 126px;
  box-sizing: border-box;
}

.text {
  display: flex;
  justify-content: space-between;
  background-color: #28a745;
  height: auto;
  border-radius: 10px;
}
.text div {
  margin: 30px;
  padding: 10px;
}
.text img {
  margin-top: auto;
}

.text h2 {
  font-size: 48px;
  font-weight: 800;
  color: #ffffff;
}
.text h2::after {
  content: "تورینو";
  color: #10411b;
}
.text p {
  width: 309px;
  font-size: 32px;
  font-weight: 400;
  color: #ffffff;
  margin-left: 15px;
}
.info {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
  padding: 8px;
}
.info div {
  display: flex;
  gap: 10px;
  font-size: 28px;
  font-weight: 700;
  align-items: baseline;
  color: #000000;
  margin: auto;
}

.info button {
  width: 175px;
  height: 41px;
  padding: 8px;
  border-radius: 9px;
  color: #ffffff;
  background: #10411b;
  font-size: 16px;
  font-weight: 500;
}

@media (max-width: 600px) {
  .container {
    display: flex; /* برای کنترل بهتر محتوا */
    flex-direction: column;
    align-items: center; /* وسط‌چینی افقی عناصر داخلی */
    justify-content: center;
    width: 327px;
    height: auto;
    margin: 52px auto 122px auto;
    border: 1px solid #00000040;
    border-radius: 10px;
    box-sizing: border-box;
  }
  .text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 128px;
    max-width: 327px;
    margin: 0 auto;
    text-align: center;
    box-sizing: border-box;
  }
  .text div {
    gap: 12px;
  }

  .text img {
    width: 195px;
    height: 158px;
    object-fit: cover;
    position: relative;
    left: 50%;
    bottom: 30px;
  }

  .text h2 {
    font-size: 22px;
    margin-right: 30px;
    margin-bottom: 8px;
  }

  .text p {
    font-size: 14px;
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .info {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  
  .info button {
    width: 136px;
    height: 38px;
    border-radius: 9px;
    gap: 8px;
  }
}
