.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
    }   

.right {
    display: flex;
    flex-direction: column;
    justify-items: center;
    text-align: center;
    font-size: 36px;
    font-weight: 600;
    
}
.left {
    display: flex;
    justify-items: center;
    margin-right: 50px; }

.link {
    border: none;
    border-radius: 16px;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 28px;
    font-weight: 600;
    padding: 20px;
    color: #28A745;
    background-color: #D8FFE1;
}
@media (max-width: 768px) {
    .container {
        display: flex;
        justify-items: center;
        flex-direction: column;
        margin: 40px;
    }
    .left {
        margin-right: 0;
        /* margin-bottom: 30px; */
    }
    .right {
        font-size: 28px;
    }
    .link {
        font-size: 24px;
        padding: 16px;
    }
}