.container {
  display: flex;
  justify-content: space-between;
  /* align-content: center; */
  height: 676px;
  padding-inline: 129px;
  /* margin: 102px 129px auto 129px; */
  align-items: center;
}
.right {
  display: flex;
  flex-direction: column;
}
/* .right div {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  font-family: Vazirmatn;
  font-weight: 800;
  font-size: 40px;
} */
.right span {
  margin: auto 0;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: inline-block;
  color: #ffffff;
  text-align: center;
  font-size: 30px;
  font-weight: 800;
  background: linear-gradient(180deg, #28a745 0%, #10411b 100%);
}

.right h2 {
  margin-right: 20px;
  color: #282828;
  font-family: Vazirmatn;
  font-size: 40px;
  font-weight: 800;
}
.right i::before {
  content: "تورینو";
  color: #28a745;
  padding: 0 10px;
  font-weight: 800;
}

.right h3 {
  font-size: 20px;
  font-weight: 500;
  text-align: right;
  color: #282828;
  margin-top: 20px;
}

.right p {
  width: 517px;
  height: 264px;
  color: #282828;
  font-family: A Iranian Sans;
  font-size: 20px;
  font-weight: 400;
  line-height: 44px;
  text-align: justify;
  margin-top: 20px;
}

.left {
  display: flex;
  justify-content: center;
  position: relative;
}
.imgcontainer {
  display: flex;
  flex-direction: row;
  margin: auto;
  margin-bottom: 79px;
  position: relative;
}
.slide1 img {
  position: absolute;
  margin-right: 50px;
  z-index: 1;
}
.slide2 img {
  position: relative;
  right: 100px;
  top: 30px;
  z-index: 0;
}
.slide3 img {
  position: absolute;
  left: 80px;
  bottom: 10px;
  z-index: -1;
}
.slide4 img {
  position: relative;
  left: 37px;
  bottom: -100px;
  z-index: -3;
}

@media (max-width: 600px) {
  .container {
    display: flex;
    flex-direction: column;
    padding-inline: 25px;
    height: 386px;
    /* margin: 90px 31px 62px 25px; */
  }
  .right div {
    display: flex;
    font-size: 24px;
    margin-left:40px;
  }
  .right h3 {
    display: none;
  }
  .right p {
    display: none;
  }

  .left {
    position: relative;
    left: 0;
    right: 0;
  }
  
  .slide1 img {
    position: absolute;
    z-index: 1;
    width: 255px;
    height: 284px;
    top: 16px;
    left: 79px;
    border-radius: 35px;
  }
  .slide2 img {
    width: 253px;
    height: 247px;
    top: 35px;
    left: 60px;
    border-radius: 35px;
  }
  .slide3 img {
    width: 168px;
    height: 198px;
    top: 69px;
    left: 10px;
    border-radius: 35px;
  }
  .slide4 img {
    width: 142px;
    height: 162px;
    top: 97px;
    left: -12px;
    border-radius: 35px;
  }
}
