.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 129px;
  height: 676px;
  box-sizing: border-box;
}

/* RIGHT */
.right {
  display: flex;
  flex-direction: column;
}

.right span {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: 800;
  color: #fff;
  background: linear-gradient(180deg, #28a745 0%, #10411b 100%);
}
.title {
  display: flex;
  align-items: center;

}
.right h2 {
  margin-right: 20px;
  font-size: 40px;
  font-weight: 800;
  color: #282828;
}

.right i::before {
  content: "تورینو";
  color: #28a745;
  padding: 0 10px;
}

.right h3 {
  font-size: 20px;
  margin-top: 20px;
}

.right p {
  width: 520px;
  margin-top: 20px;
  font-size: 20px;
  line-height: 44px;
  text-align: justify;
}

/* LEFT / SLIDER */
.left {
  width: 320px;
  overflow: hidden;
}

.imgcontainer {
  display: flex;
  gap: 24px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.imgcontainer::-webkit-scrollbar {
  height: 8px;
}
.imgcontainer::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 10px;
}

.imgcontainer {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
  border-radius: 20px;
  overflow: hidden;
}
.swiper {
font-weight: 400;
 font-size: 18px;
}
.imgcontainer img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.swiperSlide {
  text-align: center;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiperSlide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 1200px) {
  .container {
    flex-direction: column;
    padding-inline: 80px;
    height: auto;
    gap: 40px;
  }

  .right p {
    width: auto;
    font-size: 18px;
    line-height: 38px;
  }

  .left {
    width: 300px;
  }

  .imgcontainer > div {
     width: 100%;
    height: 100%;
  }
}
@media (max-width: 900px) {
  .container {
    flex-direction: column;
    padding-inline: 50px;
    gap: 30px;
  }

  .right h2 {
    font-size: 30px;
  }

  .right h3 {
    font-size: 18px;
  }

  .right p {
    font-size: 16px;
    line-height: 32px;
  }

  .left {
    width: 260px;
  }

  .imgcontainer > div {
    
      width: 100%;
    height: 100%;
  }
}
@media (max-width: 600px) {
  .container {
    flex-direction: column;
    padding-inline: 25px;
    height: auto;
  }

  .right h3,
  .right p {
    display: none;
  }

  .right h2 {
    font-size: 24px;
  }

  .left {
    width: 230px;
  }

  .imgcontainer {
    gap: 16px;
 
  }

  .imgcontainer > div {
    width: 100%;
    height: 100%;
    border-radius: 16px;
  }
}
