.container {
  display: flex;
  justify-content: center;
  padding: 36px 16px;
  background-color: #f3f3f3;
}

.card {
  max-width: 1188px;
  width: 100%;
  border-radius: 10px;
  border: 1px solid #00000033;
  background-color: #fff;
  padding: 20px;
}
.card img {
  width: 100%;
  max-width: 397px;
  height: auto;
  border-radius: 12px;
}
.innercard {
  display: flex;
  gap: 14px;
}
.carddetail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 24px;
}
.titleRow {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.titleRow h1 {
  font-size: 32px;
  font-weight: 700;
  line-height: 100%;
  text-align: right;
}
.titleRow p {
  margin-left: 60px;
  white-space: nowrap;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #7d7d7d;
}

.groupdetail {
  display: flex;
  gap: 32px; /* فاصله یکنواخت */
  margin-top: 24px;
  flex-wrap: wrap; /* برای ریسپانسیو */
}

.groupdetail div {
  display: flex;
  align-items: center; /* آیکن و متن وسط */
  gap: 8px;
  font-weight: 400;
  font-size: 18px;
  color: #7d7d7d;
  white-space: nowrap; /* نره خط بعد */
}
.buy {
  display: flex;
  /* margin-top: 32px; */
  justify-content: space-around;

  text-align: center;
  align-items: center;
}

.buy span {
  margin-top: 50px;
  font-weight: 400;
  font-size: 28px;
  text-align: right;
  color: #009eca;
}

.buy span:first-child::after {
  content: "تومان";
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  text-align: right;
  color: #282828cc;
}


/* .buy a {
  position: absolute;
  width: 204px;
  height: 56px;
  border-radius: 10px;
  left: 10%;
  padding: 8px 0;
  text-align: center;
  border: none;
  background: #28a745;
  font-weight: 300;
  font-size: 24px;
  color: #ffffff;
} */

.cardoptions {
  display: flex;
  justify-content: space-evenly;
  margin: 60px auto;
  flex-wrap: wrap;
}
.cardoptions > div {
  min-width: 120px;
}

.cardoptions .top {
  display: flex;
  align-items: center;
  gap: 8px;
}
.cardoptions p {
  font-weight: 400;
  font-size: 18px;
  color: #444;
  margin: 0;
}
.cardoptions span {
  font-weight: 500;
  font-size: 16px;
  color: #000;
  display: block;
}
.cardoptions > div:not(:last-child) {
  border-left: 1px solid #00000040;
  padding-left: 24px;
}

@media (max-width: 768px) {
  .container {
    background-color: #fff;
    padding: 16px;
  }

  .card {
    border: none;
    padding: 0;
  }

  .innercard {
    flex-direction: column;
  }

  .card img {
    margin: 0 auto;
  }

  .groupdetail {
    gap: 14px;
    flex-wrap: nowrap;
  }

  .groupdetail div {
    font-size: 16px;
  }

  .titleRow {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .titleRow h1 {
    font-size: 24px;
    font-weight: 700;
    line-height: 100%;
    text-align: right;
  }

  .titleRow p {
    margin-left: 40px;
    white-space: nowrap;
    font-weight: 400;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0%;
  }

  .buy {
    flex-direction: row-reverse;
    gap: 16px;
    margin-top: 30px;
  }
  .buy span {
    margin-top: 0;
    font-size: 24px;
  }
  .buy :last-child {
    width: 154px;
    height: 42px;
    align-items: center;
    position: relative;
    right: 0px;
    font-weight: 400;
    font-size: 20px;
  }

  .cardoptions {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .cardoptions > div:not(:last-child) {
    border-left: none;
    border-bottom: 1px solid #00000040;
    padding-bottom: 16px;
  }
}
